<div class="author">
  <h1 class="author__heading">Hi, I'm Walker.</h1>
  <p class="author__body">Web developer and content creator</p>
</div>
<img
  src="/img/headshot1.png"
  alt="a headshot image of walker"
  class="hero-image"
  width="100"
  height="250"
/>

<section class="article">
  <h2 class="article__heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles-list__date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles-list__date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; view older posts</a>
</section>
