<div class="author">
  <h1 class="author__heading">Hey y'all, I'm Walker.</h1>
  <p class="author__body">Web developer and content creator</p>
</div>
<img
  src="/img/headshot1.png"
  alt="a headshot image of walker"
  class="hero-image"
  width="400"
  height="550"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="articles__ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles__list__date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; view older posts</a>
</section>
