@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100&display=swap");

:root {
  --black: #202020;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --blue: #001536;
  --font-size-base: 1rem;
  /* clamping for window size */
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-XL: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: "Roboto Mono", monospace;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #f9f1e5;
  background-image: url(/img/white-texture.jpg);
  background-size: cover;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-size-base);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

a {
  color: var(--black);
}
h1 {
  font-size: var(--font-size-XL);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 15px;
  background-color: var(--blue);
}

img {
  width: 100%;
  height: auto;
}

/* layout */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding: 20px 0;
}

.hero-image {
  max-height: 550;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* main header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 10px;
  grid-template-areas:
    "logo button"
    "menu menu";
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu button";
  }
}

.header__logo {
  grid-area: logo;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  grid-area: menu;
  display: flex;
  justify-content: center;
}

.header__button {
  grid-area: button;
  display: flex;
  justify-content: end;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 5px 10px;
  background: none;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--black);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

.header__nav ul a.active {
  color: var(--gray);
}

/* author homepage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  margin-top: 15px;
  margin-bottom: 10px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
  color: var(--gray);
}

/* articles */
.article__heading {
  margin-top: 4rem;
  font-weight: 600;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: var(--font-size-base);
  color: var(--gray);
  width: 260px;
  display: inline-block;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul lihover {
  filter: none;
}

.article-ul:hover li {
  filter: blur(3s);
}

.article-ul:hover li:hover {
  filter: none;
}

.pagination {
  font-size: 1.3rem;
  color: var(--gra);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}

.article {
  white-space: pre-wrap;
}


/* footer */

.footer {
  margin: 4rem;
  text-align: center;
}
